.footer {
  padding: 4.375rem 0;
}

.footer__icon-social {
  font-size: 1.75rem;
  color: #ffffff;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.footer__icon-social:hover:has(.fa-github) {
  background-color: #000;
}

.footer__icon-social:hover:has(.fa-facebook-f) {
  background-color: #3b5998;
}

.footer__icon-social:hover:has(.fa-linkedin-in) {
  background-color: #0077b5;
}
