{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@app": "./src/app",
          "@services": "./src/services",
          "@shared": "./src/shared",
          "@constants": "./src/shared/constants",
          "@img": "./src/shared/media/img",
          "@interfaces": "./src/shared/interfaces",
          "@layout": "./src/shared/layout",
          "@media": "./src/shared/media",
          "@rdx": "./src/shared/rdx",
          "@routes": "./src/shared/routes",
          "@themes": "./src/shared/themes",
          "@shared-types": "./src/shared/types",
          "@utils": "./src/shared/utils"
        }
      }
    ]
  ]
}
