{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@album": "./src/album",
          "@app": "./src/app",
          "@artist": "./src/artist",
          "@auth": "./src/auth",
          "@dashboard": "./src/dashboard",
          "@error": "./src/error",
          "@playlist": "./src/playlist",
          "@posts": "./src/posts",
          "@section": "./src/section",
          "@services": "./src/services",
          "@settings": "./src/settings",
          "@sign-in": "./src/sign-in",
          "@song": "./src/song",
          "@user": "./src/user",
          "@video": "./src/video",
          "@shared": "./src/shared",
          "@assets": "./src/shared/assets",
          "@constants": "./src/shared/constants",
          "@interfaces": "./src/shared/interfaces",
          "@layout": "./src/shared/layout",
          "@list-item": "./src/shared/list-item",
          "@rdx": "./src/shared/rdx",
          "@routes": "./src/shared/routes",
          "@themes": "./src/shared/themes",
          "@shared-types": "./src/shared/types",
          "@utils": "./src/shared/utils"
        }
      }
    ]
  ]
}
