.header {
  width: 100%;
  height: 100vh;
  min-height: 27.5rem;

  &__menu {
    position: fixed;
    left: -100%;
    height: 100vh;
    width: 80%;
    padding: 4.375rem 0;
    z-index: 3000;
    transition: all 0.5s ease;

    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 3.125rem 0;
      width: 100%;
      left: 0;
      height: auto;
    }

    &-link {
      display: block;
      padding: 0.625rem 0;
      margin: 0 4.375rem;
      color: #ffffff;
      font-weight: 600;
      transition: all 0.3s ease;

      @media (min-width: 768px) {
        display: inline;
        margin: 0 1.5625rem;
        padding: 0;
      }

      &--logo {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }

    &--is-toggled {
      display: block;
      background: #3d2b3b;
      left: 0;

      @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #df3940;
      }
    }
  }

  &__mobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 0;
    z-index: 300;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__background {
    width: 100%;
    position: absolute;
    top: 0;

    @media (min-width: 768px) {
      position: static;
      float: right;
      width: auto;
      height: 100%;
    }
  }

  &__banner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 100;

    @media (min-width: 576px) {
      transform: translateY(0%);
    }

    @media (min-width: 768px) {
      transform: translateY(-50%);
    }
  }

  &__title {
    font-size: 3.75rem;
    color: #f78b8b;
    margin-top: 0;
  }

  &__subtitle {
    font-size: 2.25rem;
  }

  &--dark {
    background: #3d2b3b;
    padding: 1.25rem 0 0 0;
  }

  @media (min-width: 576px) {
    min-height: 35.625rem;
  }

  @media (min-width: 768px) {
    min-height: 40.625rem;
  }

  @media (min-width: 992px) {
    min-height: 41.875rem;
  }
}

.is-current-link {
  background: #df3940;
  padding: 10px 25px;
  margin: 0;
}
